:css
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
%h2 Alternate Email

%table
  %tr
    %th Email
    %th Action
  - @emails.each do |e|
    %tr
      %td= e.alt_email
      %td 
        = link_to "delete" , alt_email_path(e) , method: :delete
= link_to "back" , profile_path